body{
  background-color: #FFEABF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Jersey 10", sans-serif;
}

#root{
  width: 80%;
  margin-top: 2em;
}